# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Environment variables
.env
.env.*
*.env

# Supabase
supabase/.env
supabase/.env.*
supabase/functions/*/.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Metro
.metro-health-check*

# debug
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# ts1SyPxIqUyqzCco
